{% extends 'base.html' %}


{% block content %}

<h1>Home</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque neque excepturi maxime laboriosam cupiditate perferendis consequatur porro cum accusantium iure, asperiores ex corrupti incidunt laborum. Earum molestiae quaerat maiores eligendi cumque illum blanditiis, deleniti alias similique qui ex dolore sequi rem explicabo fugiat voluptatum quae, nostrum ut ducimus labore voluptatibus illo? Consequatur nobis deserunt odio dolor obcaecati rerum, beatae in, praesentium porro harum iste accusantium. Quam voluptatibus voluptas magni dolores similique modi! Minus ipsum sed magnam atque nesciunt debitis voluptatem adipisci qui architecto quasi possimus enim maxime ex repellat, vel voluptates earum pariatur a! Nihil cupiditate similique fugit aspernatur molestias.</p>

{% endblock %}